<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>karupasu.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
				<key>dateExpires</key>
				<string>2022/01/05</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ESTabBarController_swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Rswift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwifterSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Unio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D3CC627C57450360019E14F6BF0EE809B59055B1</string>
						<key>dateExpires</key>
						<string>2022/01/05</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>pop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4XKKKM86RN</string>
						<key>name</key>
						<string>Pronama LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4XKKKM86RN.tech.miraito.app.karupasu</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4XKKKM86RN</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>4XKKKM86RN.tech.miraito.app.karupasu</string>
				</array>
			</dict>
			<key>name</key>
			<string>karupasu.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c2daa559-1a66-478f-b717-3eb049c425a1</string>
				<key>name</key>
				<string>miraito_wildcard_provisioning</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4XKKKM86RN</string>
				<key>name</key>
				<string>Pronama LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
