<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40577483332-h50unljlrrj52fb9cnr1uohq9jtr0cdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40577483332-h50unljlrrj52fb9cnr1uohq9jtr0cdd</string>
	<key>API_KEY</key>
	<string>AIzaSyCrdx-41KpJs8-60Wc6IZsknUEmWCtm-TQ</string>
	<key>GCM_SENDER_ID</key>
	<string>40577483332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.miraito.app.karupasu</string>
	<key>PROJECT_ID</key>
	<string>much-match</string>
	<key>STORAGE_BUCKET</key>
	<string>much-match.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40577483332:ios:f27c91144edc04e52db211</string>
</dict>
</plist>